body {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 25px 75px 150px 75px;
    max-width: 800px; 
}

h1 {

    color: black;
    border: solid;
    border-style: inset;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {

    color: maroon;
    text-decoration: underline;
    text-decoration-color: gray;
}

ol {
    list-style-position: inside;
}

ul {
    list-style-position: inside;
    list-style-type:circle;
}

.theend {
    float: left;
    width: 200px;
    height: 125px;
    margin-left: 50px;
}
